## Measuring a Security's Risk

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG     BEI.DE
Date
2021-03-22  130.179993  88.320000
2021-03-23  132.600006  89.279999
2021-03-24  132.559998  89.220001
2021-03-25  133.479996  90.199997
2021-03-26  135.449997  88.860001

In [4]:
#logarithmic return to examine each company separately in the given time frame

sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
#storing data in a table with log returns which allows to obtain the mean
#and the standard deviation of the two stocks for the data frame as below
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002518 -0.022858
...              ...       ...
2021-03-22  0.016810  0.002040
2021-03-23  0.018419  0.010811
2021-03-24 -0.000302 -0.000672
2021-03-25  0.006916  0.010924
2021-03-26  0.014651 -0.014967

[3583 rows x 2 columns]

### PG

In [6]:
sec_returns['PG'].mean()
#result shows the daily average return

0.00032437631957144106

In [7]:
sec_returns['PG'].mean()*250
#annualised value for the trading days in a year
#annual rate of return

0.08109407989286027

In [8]:
sec_returns['PG'].std()
#calculation of the volatility
#std method calculates the standard deviation

0.01186271886928485

In [9]:
sec_returns['PG'].std() * 250 ** 0.5
#annualised figure (var*250=s^2*250)

0.1875660543459869

### Beiersdorf

In [10]:
sec_returns['BEI.DE'].mean()

0.00019825876280217246

In [11]:
sec_returns['BEI.DE'].mean() * 250

0.04956469070054312

In [12]:
sec_returns['BEI.DE'].std()

0.013857565897461078

In [13]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21910735530926173

In [14]:
#equation for the two annualised means
print (sec_returns['PG'].mean() * 250)
print (sec_returns['BEI.DE'].mean() * 250)

0.08109407989286027
0.04956469070054312

In [15]:
#another method to achieve this result
#including two values in a new NumPy objects
#a float can only contain a single value, therefore create an array with two dimensions[[]]

sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.081094
BEI.DE    0.049565
dtype: float64

In [16]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.187566
BEI.DE    0.219107
dtype: float64

## Covariance and Correlation

In [17]:
PG_var = sec_returns['PG'].var()
PG_var
#variables are two stock prices
#pandas.DataFrama.var() calculates variance

0.00014072409897168683

In [18]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00019203213260247627

In [19]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a
#annualised values

0.03518102474292171

In [20]:
BEI_var_a = sec_returns['BEI.DE'].var()*250
BEI_var_a

0.04800803315061907

In [21]:
#pandas.DataFrame.cov() computes pairwise covariance of columns
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000141  0.000045
BEI.DE  0.000045  0.000192

In [22]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a
#annualised result

              PG    BEI.DE
PG      0.035181  0.011130
BEI.DE  0.011130  0.048008

In [23]:
#pandas.DataFrame.corr() computes pairwise correlation of columns
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.270453
BEI.DE  0.270453  1.000000

In [24]:
#correlation(returns) reflects the dependence between prices at different
#times and focuses on the returns of portfolio
#correlation(prices) focuses on stock price levels

## Calculating Portfolio Risk

#### Equal weighting scheme:

In [25]:
#assuming equaly weighted portfolio
weights = np.array([0.5, 0.5])

#### Portfolio Variance:

In [26]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() *250, weights))
pfolio_var
#matrix multiplication
#numpy.do() dot product of two arrays
#taking dot product of the annualised covariance matrix and the wights vector

0.02636241694880352

#### Portfolio Volatility:

In [27]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.1623650730569956

In [28]:
print (str(round(pfolio_vol, 5) * 100) + '%')

16.237%

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

In [29]:
weights = np.array([0.5, 0.5])

In [30]:
weights[0]

0.5

In [31]:
weights[1]

0.5

#### Diversifiable Risk:

In [32]:
PG_var_a = sec_returns[['PG']].var() * 250
PG_var_a

PG    0.035181
dtype: float64

In [36]:
BEI_var_a = sec_returns[['BEI.DE']].var() * 250
BEI_var_a

BEI.DE    0.048008
dtype: float64

In [38]:
float(PG_var_a)

0.03518102474292171

In [37]:
#diversifiable risk = portfolio variance - weighted annual variances

In [41]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03518102474292171

In [42]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04800803315061907

In [44]:
dr = pfolio_var - (weights[0] ** 2 * PG_var_a) - (weights[1] ** 2 * BEI_var_a)
dr

0.005565152475418328

In [45]:
print(str(round(dr*100, 3)) + '%')

0.557%

#### Non-Diversifiable Risk:

In [46]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.020797264473385195

In [48]:
n_dr_2 = (weights[0] ** 2 * PG_var_a) + (weights[1] ** 2 * BEI_var_a)
n_dr_2

0.020797264473385195

In [49]:
#check confirms the results
n_dr_1 == n_dr_2

True